apps {
  background: var(--apps-bg);
  border-radius: 10px;
  padding: 4px;

  tray {
    background: transparent;

    item-container {
      item {
        background: transparent;
        border: none;
        padding: 2px;
        border-radius: 8px;

        &:hover {
          background: var(--tray-hover-bg);
        }
      }
    }
  }

  notifications {
    background: transparent;
    padding: 0 4px;
    border-radius: 8px;

    &:hover {
      background: var(--notifications-hover-bg);
    }
  }

  pop-up {
    background: var(--notifications-popup-bg);

    notifications-container {
      background: transparent;
      padding: 8px;

      notification-group {
        background: var(--notifications-group-bg);
        border-radius: 10px;
        padding: 10px;

        app-name {
          font-size: 0.8em;
          color: var(--notifications-app-fg);
        }

        summary {
          font-size: 1em;
          font-weight: bold;
          color: var(--notifications-summary-fg);
        }

        delete-button {
          color: var(--notifications-delete-fg);
        }

        bodies-button {
          margin: 0 1rem;
          border-radius: 6px;

          &:hover {
            background: rgba(255, 255, 255, 0.05);
          }
        }

        bodies {
          image {
            margin-right: 6px;
          }

          body {
            font-size: 1em;
          }
        }

        expand-button {
          background: transparent;
          border: none;
          box-shadow: none;
          color: var(--notifications-expand-fg);
          padding: 2px 8px;
        }
      }
    }
  }
}
