@use 'colors';

$background: colors.$common-background;
$foreground: colors.$common-foreground;

$notifications-background: $background;

$notifications-group-background: colors.$base00;

$notifications-group-app-foreground: colors.$base08;
$notifications-group-summary-foreground: colors.$base0C;
$notifications-group-delete-foreground: colors.$base08;
$notifications-group-expand-foreground: colors.$base08;

apps {
  background: $background;
  border-radius: 10px;
  margin: 0.1em 0.15em;
  padding: 4px;

  tray item {
    padding: 4px;
  }

  pop-up {
    background: $notifications-background;

    notifications-container {
      background: transparent;
      padding: 8px;

      notification-group {
        background: $notifications-group-background;
        border-radius: 10px;
        padding: 10px;

        app-name {
          font-size: 0.8em;
          color: $notifications-group-app-foreground;
        }

        summary {
          font-size: 1em;
          font-weight: bold;
          color: $notifications-group-summary-foreground;
        }

        delete-button {
          color: $notifications-group-delete-foreground;
        }

        bodies-button {
          margin: 0 1rem;
          border-radius: 6px;

          &:hover {
            background: rgba(255, 255, 255, 0.05);
          }
        }

        bodies {
          image {
            margin-right: 6px;
          }

          body {
            font-size: 1em;
          }
        }

        expand-button {
          background: transparent;
          border: none;
          box-shadow: none;
          color: $notifications-group-expand-foreground;
          padding: 2px 8px;
        }
      }
    }
  }
}