@use 'colors';

$background: colors.$common-background;
$foreground: colors.$base0A;
$charging-foreground: colors.$base09;

battery {
  color: $foreground;
  background: $background;
  border-radius: 10px;
  padding: 4px 12px;
  margin: 0.1em 0.15em;

  &.charging {
    color: $charging-foreground;
  }
}