@use 'colors';

$background: colors.$common-background;
$foreground: colors.$base0C;
$foreground-hover: colors.$base0E;

$popup-background: $background;

$popup-wired-header-foreground: $foreground;
$popup-wired-device-foreground: $foreground-hover;
$popup-wired-device-connected-background: colors.$base00;

$popup-wifi-header-foreground: $foreground;
$popup-wifi-disabled-foreground: $foreground-hover;
$popup-wifi-device-foreground: $foreground;
$popup-wifi-device-connected-foreground: $foreground-hover;
$popup-wifi-device-connected-background: colors.$base00;

$popup-bluetooth-header-foreground: $foreground;
$popup-bluetooth-disabled-foreground: $foreground-hover;
$popup-bluetooth-device-foreground: $foreground;
$popup-bluetooth-device-connected-foreground: $foreground-hover;
$popup-bluetooth-device-connected-background: colors.$base00;

connection {
  background: $background;
  color: $foreground;
  border-radius: 10px;
  padding: 4px 12px;

  &:hover {
    color: $foreground-hover;
  }

  pop-up {
    background: $popup-background;

    wired {
      header {
        font-size: 1.1em;
        color: $popup-wired-header-foreground;
        background: transparent;
      }

      device {
        padding: 5px 10px;
        border-radius: 10px;
        color: $popup-wired-device-foreground;
        background: $popup-wired-device-connected-background;
      }
    }

    wifi,
    bluetooth {
      margin: 0 10px 10px 10px;

      header {
        background: transparent;
        font-size: 1.1em;
      }

      switch {
        font-size: 10px;
        border-radius: 12px;
      }

      scrolledwindow {
        device {
          padding: 5px 10px;
          border-radius: 10px;
        }

        disabled,
        error {
          padding: 10px;
        }
      }
    }

    wifi {
      header {
        color: $popup-wifi-header-foreground;
      }

      scrolledwindow {
        disabled {
          color: $popup-wifi-disabled-foreground;
        }

        device {
          background: transparent;
          color: $popup-wifi-device-foreground;

          &.connected {
            background: $popup-wifi-device-connected-background;
            color: $popup-wifi-device-connected-foreground;
          }
        }
      }
    }

    bluetooth {
      header {
        color: $popup-bluetooth-header-foreground;
      }

      scrolledwindow {
        disabled {
          color: $popup-wifi-disabled-foreground;
        }

        device {
          background: transparent;
          color: $popup-bluetooth-device-foreground;

          &.connected {
            background: $popup-bluetooth-device-connected-background;
            color: $popup-bluetooth-device-connected-foreground;
          }
        }
      }
    }
  }
}