@use 'colors';

$background: colors.$common-background;

$internet-foreground: colors.$base0C;
$internet-hover-foreground: colors.$base0E;

$internet-popup-background: colors.$common-background;

$internet-popup-wired-foreground: colors.$common-foreground;
$internet-popup-wired-hover-foreground: colors.$base0E;

$internet-popup-wifi-switch-active-background: colors.$base0C;

$internet-popup-wifi-offline-foreground: colors.$base0F;

$internet-popup-wifi-device-foreground: colors.$common-foreground;
$internet-popup-wifi-device-hover-foreground: colors.$base0E;

$bluetooth-foreground: colors.$base0C;
$bluetooth-hover-foreground: colors.$base0E;

$bluetooth-popup-background: colors.$common-background;

$bluetooth-popup-header-background: colors.$common-background;
$bluetooth-popup-header-foreground: colors.$base0C;

$bluetooth-popup-switch-active-background: colors.$base0C;

$bluetooth-popup-adapter_missing-foreground: colors.$base0F;

$bluetooth-popup-device-foreground: colors.$common-foreground;
$bluetooth-popup-device-hover-foreground: colors.$base0E;
$bluetooth-popup-device-connected-foreground: colors.$base0A;

connection {
  background: $background;
  border-radius: 10px;
  padding: 4px 12px;
  margin: 0.1em 0.15em;

  internet {
    color: $internet-foreground;

    >button {
      padding: 0px;
      background: transparent;

      &:hover {
        color: $internet-hover-foreground;
      }
    }

    pop-up {
      all: unset;
      background: $internet-popup-background;
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      padding: 0px 10px;

      container {
        wired-popover {
          header {
            font-weight: bold;
            font-size: 18px;
          }

          body {
            padding-left: 10px;
            color: $internet-popup-wired-foreground;

            &:hover {
              color: $internet-popup-wired-hover-foreground;
            }
          }
        }

        wifi-popover {
          header {
            font-weight: bold;
            font-size: 18px;

            switch {
              font-size: 18px;
              border-radius: 12px;

              &.on {
                background: $internet-popup-wifi-switch-active-background;
              }

              slider {
                min-height: 16px;
                min-width: 16px;
                border: 0em solid transparent;
                border-radius: 10px;
                margin: 1px;
              }
            }
          }

          body {
            padding: 10px 0px;

            offline {
              color: $internet-popup-wifi-offline-foreground;
            }

            device {
              background: transparent;
              padding: 0px 10px;
              color: $internet-popup-wifi-device-foreground;

              &:hover {
                color: $internet-popup-wifi-device-hover-foreground;
              }
            }
          }
        }
      }
    }
  }

  bluetooth {
    color: $bluetooth-foreground;

    >button {
      padding: 0px;
      background: transparent;

      &:hover {
        color: $bluetooth-hover-foreground;
      }
    }

    pop-up {
      background: $bluetooth-popup-background;
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      min-width: 200px;

      container {
        padding: 8px;

        header {
          label {
            color: $bluetooth-popup-header-foreground;
            font-weight: bold;
            font-size: 18px;
          }

          switch {
            font-size: 18px;
            border-radius: 10px;

            &.on {
              background: $bluetooth-popup-switch-active-background;
            }

            slider {
              min-height: 16px;
              min-width: 16px;
              border: 0em solid transparent;
              border-radius: 10px;
              margin: 1px;
            }
          }
        }

        devices {
          padding: 4px;

          adapter-missing {
            color: $bluetooth-popup-adapter_missing-foreground;
          }

          container {
            device {
              color: $bluetooth-popup-device-foreground;

              &.connected {
                color: $bluetooth-popup-device-connected-foreground;
              }

              &:hover {
                color: $bluetooth-popup-device-hover-foreground;
              }
            }
          }
        }
      }
    }
  }
}