@use 'system';
@use 'workspaces';
@use 'title';
@use 'connection';
@use 'status';
@use 'time';
@use 'apps';

$font-families: "";

button {
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  border: none;
  padding: 0;
  margin: 0;
}

pop-up {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

window.Bar {
  font-family: $font-families, JetBrainsMono Nerd Font;
  font-size: 14px;
  font-weight: 600;
  margin: 6px;
}