@use 'colors';

time {
  background: var(--time-bg);
  color: var(--time-fg);

  border-radius: 10px;
  padding: 4px 12px;
  margin: 0.1em 0.15em;
  
  &:hover {
    color: var(--time-hover-fg);
    background: var(--time-hover-bg);
  }

  pop-up {
    background: var(--time-popup-bg);
    padding: 0;

    calendar {
      margin: 0;
      background: transparent;
      border: none;
      box-shadow: none;
      color: var(--time-popup-calendar-day-fg);

      header,
      button {
        color: var(--time-popup-controls-fg);
        &:hover {
          color: var(--time-popup-controls-hover-fg);
        }
      }

      label {
        background: var(--time-popup-calendar-day-bg);
        border-radius: 10px;
        box-shadow: none;
        outline: none;
        transition: background 200ms ease;

        &.today {
          background: var(--time-popup-calendar-day-today-bg);
          color: var(--time-popup-calendar-day-today-fg);
          outline: 2px solid var(--time-popup-calendar-day-today-outline);
          outline-offset: -1px;

          &:not(:selected) {
            background: transparent;
            color: var(--time-popup-calendar-day-fg);
          }
        }

        &:selected {
          background: var(--time-popup-calendar-day-selected-bg);
          color: var(--time-popup-calendar-day-selected-fg);
        }
      }
    }
  }
}
