@use 'colors';

$title-background: colors.$common-background;
$title-foreground: colors.$common-foreground;

title {
  background: $title-background;
  color: $title-foreground;
  padding: 4px 12px;
  border-radius: 10px;

  &.empty { padding: 0px; }
}
