@use 'colors';

$workspaces-background: colors.$common-background;

$workspaces-button-inactive-background: colors.$common-background;
$workspaces-button-inactive-foreground: colors.$common-foreground;

$workspaces-button-active-background: colors.$base05;
$workspaces-button-active-foreground: colors.$base01;

.workspaces {
  background: $workspaces-background;
  border-radius: 10px;
  padding: 4px;

  > button { 
    margin: 0px 2px;
    padding: 4px 10px;
    background: transparent;

    &.active,
    &:hover {
      background: $workspaces-button-active-background;
      color: $workspaces-button-active-foreground;
    }
  }
}
